 <!-- Navbar -->
      <div class="navbar-bg bg-primary"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>

          </ul>

        </form>
        <ul class="navbar-nav navbar-right">

          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <div class="d-sm-none d-lg-inline-block"><?= ucfirst($userLogin) ?></div>

            <div class="dropdown-menu dropdown-menu-right">
              <!-- <div class="dropdown-divider"></div> -->
              <a href="<?= $this->Url->Build(['controller'=>'Users','action'=>'edit', $userId]) ?>" class="dropdown-item has-icon">
                <i class="fas fa-lock"></i> Ubah Profile
              </a>

              <a href="<?= $this->Url->Build(['controller'=>'Users','action'=>'logout']) ?>" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
